.nav {
    background-color: #1B2021;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .nav a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 1em;
    padding: 0.5em 1em;
    z-index: 1; /* Ensure text is above the pseudo-element */
  }
  
  .nav a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1; /* Ensure the box is behind the text */
    border-radius: 10px; /* Make the box rounded */
  }
  
  .nav a:hover::after {
    opacity: 1;
  }
  
  .nav-left {
    flex: 1;
  }
  
  .nav-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  